#editorWrapper {
	position: relative;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50rem;
    width: 600px;
}

#canvasWrapper {
  position: relative;
  height: 50em;
}

#canvasSection {
  position: absolute;
  top: 10px;
	left: 610px;
	overflow: visible;
	height: 50rem;
	border: 1px solid #eee;
  background-color: #fff;
}

#canvas {


}

#previewForm {
	margin-top: 20px;
}

